<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Banking App Test">
  <test name="Demo">
  
  <parameter name ="browser" value="chrome"/>
    <classes>
      <class name="com.Demo.Test.TC_LoginTest"/>
     
    </classes>
  </test> <!-- Demo -->
</suite> <!-- Banking App Test -->
